################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSOPESY-MCO1-OS_Emulator-Process_Scheduler
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/CopilotIndices/17.14.827.52834
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/CopilotIndices/17.14.827.52834/CodeChunks.db
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/CopilotIndices/17.14.827.52834/SemanticSymbols.db
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/FileContentIndex
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/FileContentIndex/93bd8000-cfe7-4e88-bee0-7eacaebcecfa.vsidx
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/FileContentIndex/98ba120b-0067-49dc-b58b-36b4957e1315.vsidx
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/FileContentIndex/aae80b33-2435-4367-9b56-bf3861ff959e.vsidx
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/FileContentIndex/b2efe270-00ef-4937-ae65-41de61395c71.vsidx
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/FileContentIndex/f60ff850-aabd-493d-8a06-5155250f493f.vsidx
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/.suo
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/.wsuo
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/Browse.VC.db
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/Browse.VC.db-shm
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/Browse.VC.db-wal
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/Browse.VC.opendb
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/DocumentLayout.backup.json
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/DocumentLayout.json
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/v17/Solution.VC.db
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/ProjectSettings.json
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/slnx.sqlite
/CSOPESY-MCO1-OS_Emulator-Process_Scheduler/.vs/VSWorkspaceState.json
